[user]
    email = Xiaobo.Yang@Honeywell.com
    name = Bob.Yang
[push]
    default = simple
[credential]
    helper = store
[color]
    ui = auto
[core]
    editor = vim
    pager = 
[url "https://git.yoctoproject.org/git/"]
    insteadOf = git://git.yoctoproject.org/
[url "http://github.com"]
    insteadOf = git://github.com

[alias]
    a = add
    au = add -u
    br = branch
    amend = commit --amend
    c = commit
    ca = commit --amend
    ci = commit -a
    cm = commit -m
    co = checkout
    d = diff
    dc = diff --changed
    ds = diff --staged
    f = fetch
    loll = log --graph --decorate --pretty=oneline --abbrev-commit
    m = merge
    one = log --pretty=oneline
    outstanding = rebase -i @{u}
    s = status
    unpushed = log @{u}
    wc = whatchanged
    wip = rebase -i @{u}
    zap = fetch -p
[url "https://git.savannah.gnu.org/git/"]
	insteadOf = git://git.savannah.gnu.org/
